@import "bootstrap-sprockets";
@import "bootstrap";

#jobs{
	.job {
	  padding: 1em 0;
	  border-bottom: 1px solid #3b3b3b !important;
	}
	h2 {
	  font-size: 2.5em;
	  font-weight: 300;
	  margin-bottom: 0;

	}
}

.navbar-brand {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 2em;
	font-weight: 300;
	color: #337ab7 !important;
}